extends layout

block content
  
  div.container
    p Blog Maker
    div
      form
        p
          label Title
          input(type='text')
        p
          label Date
          input(type='date')
        p
          label Content
        p
          textarea
        div#images
          div#image
            p
              label URL
              input(type='text')
            p
              label Description
              input(type='text')
        p
          button Add Image
          // todo: add js to handle adding more img fields
        p
          label Secret Code
          input(type='text')
        p
          button Post
        
        // todo: add js to handle post to /blog

    