extends layout

block content
  
  div.container#blogmaker
    h2 Blog Maker
    div
      form#blog-form
        p
          label Title
          input#blog-title(type='text')
        p
          label Date
          input#blog-date(type='date')
        p
          label Content
        p
          textarea#blog-text
        h4 Images
        div#images
          div#image
            p
              label URL
              input(type='text')
            p
              label Description
              input(type='text')
        p
          button#add-image-btn.btn Add Image
          button#del-image-btn.btn Remove Image
        p
          label Secret Code
          input#secret-code(type='text')
        p
          button#post-btn.btn Post

  script(src="/javascripts/blogmaker.js")  