extends layout

block content
  br
  br
  br
  br
  br
  br
  br
  
  div.container#blogmaker
    h2 Image Adder
    div
      form#showcase-form
        p
          label Add image to showcase
          input#showcase-img(type='text')
        p
          label Secret Code
          input#secret-code(type='password')
        p
          button#showcase-post-btn.btn Upload image to showcase


      hr
      form#gallery-form
        p
          label Title of gallery
          input#gallery-name(type='text')

        p
          label Description
          input#gallery-description(type='text')

        p
          label Add cover of gallery
          input#gallery-img(type='text')

        div#images
          div#image
            p
              label URL
              input(type='text')
            p
              label Description
              input(type='text')
        p
          button#add-image-btn.btn Add Image
          button#del-image-btn.btn Remove Image
        p
          label Secret Code
          input#secret-code-gallery(type='password')
        p
          button#gallery-post-btn.btn Upload album to gallery

  script(src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.6.0/Sortable.min.js")
  script(src="/javascripts/imageadder.js")  