extends layout

block content
  
  div
    .carousel.carousel-main
      for img in showcase.imgs
        .carousel-cell
          .cell-desc 
            p #{img.description}
          img(src=img.imgUrl)

    .carousel.carousel-nav(data-flickity='{ "asNavFor": ".carousel-main", "contain": true, "pageDots": false }')
      for img in showcase.imgs
        .carousel-cell
          img(src=img.imgUrl)

    div.container
      a(href="/work")
        h3 View full portfolio
  script(src="/javascripts/carousel.js")

  


