extends layout

block content
  
  div.full-page
    br
    br
    br
    br
    br
    br

    .carousel.carousel-main
      for img in showcase
        .carousel-cell
          .cell-desc 
            p #{img.description}
          img(src=img.imgUrl)

    div.container
      a.btn#custom-button(href="/work")
        h2(style="text-align:center") View full portfolio
  script(src="/javascripts/carousel.js")

  


