doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/bootstrap/bootstrap.min.css")
    
    link(rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css")
    link(rel='stylesheet' type="text/css" href="/stylesheets/main.css")
    link(href='https://fonts.googleapis.com/css?family=Titillium+Web:300,700' rel='stylesheet' type='text/css')
    //link(href='https://cdnjs.cloudflare.com/ajax/libs/luminous-lightbox/1.0.1/luminous-basic.min.css' rel='stylesheet' type='text/css')

    link(rel="shortcut icon" href="/imgs/favicon.ico" type="image/x-icon")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="/bootstrap/bootstrap.min.js")
    script(src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js")
    script(src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js")
  body
    nav.navbar.transparent-gray.no-margin#main-header
      .container
        .navbar-header#title
          a(href='/')
            h3(style="font-weight:bold") PETER BINH-VINH TRAN
            p LIGHTING ARTIST
        button.navbar-button.collapsed.centered(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right#menu
            li.active
              a(href='/') Projects
            li
              a(href='https://teterpran.tumblr.com/' target="_blank") Blog
               
      
      hr
    block content

    br
    br
    br
    br
    br

    footer#main-footer.transparent-gray
      hr
      div.container
        
        span.left peter.bv.tran@outlook.com  |  1+514-576-6332
        span.right
          span
            a(href="https://www.linkedin.com/in/peterbvtran/" target="_blank")
              img(src="/imgs/In-White.png", alt="LinkedIn link", height="24px", style="display:inline; margin-right:8px;")
            a(href="https://drive.google.com/open?id=1rTzOUxmUEFuSDN9lB0f1c0pvYfNb047c" target="_blank")
              img(src="/imgs/Cv-White.png", alt="LinkedIn link", height="24px", style="display:inline")
        br
        br
        
          
