doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/bootstrap/bootstrap.min.css")
    link(rel='stylesheet' type="text/css" href="/stylesheets/main.css")
    link(rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css")
    link(href='https://fonts.googleapis.com/css?family=Titillium+Web:300,700' rel='stylesheet' type='text/css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="/bootstrap/bootstrap.min.js")
    script(src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js")
    script(src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js")
  body
    nav.navbar.transparent-gray.no-margin
      .container
        .navbar-header#title
          h3 Peter Binh Vinh Tran
          p 3D Artist
        button.navbar-button.collapsed.centered(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right#menu
            li.active
              a(href='/') Home
            li
              a(href='/blog') Blog
            li
              a(href='/work') Gallery    
    div.transparent-gray
      br
      hr
    block content

    br
    br
    br
    br
    br

    footer#main-footer.transparent-gray
      div.container
        hr
        p peter.bv.tran@outlook.com | 
          a(href="https://ca.linkedin.com/in/peter-tran-683973129") LinkedIn
