extends layout

block content
  
  div.container
    div.grid
      for img in gallery.imgs
        div.grid-sizer
        div.grid-item
          a(href="#")
            img(src=img.imgUrl)

  script(src="/javascripts/gallery.js")