extends layout

block content

  div
    div.grid
      for album in gallery
        //div.grid-sizer
        div.grid-item
          a.imagePop(href=album.coverUrl)
            img.galleryImg(src=album.coverUrl)

  script(src="https://cdnjs.cloudflare.com/ajax/libs/luminous-lightbox/1.0.1/Luminous.min.js")
  
  script(src="/javascripts/gallery.js")