body {
  background-color: #111;
  color: white;
  font-family: 'Titillium Web', sans-serif; 
}

a {
  color: #AAA;
}

.navigation-clean-button {
  background:transparent;
  padding-top:10px;
  padding-bottom:10px;
  color:white;
  border-radius:0;
  box-shadow:none;
  border:none;
  margin-bottom:0;
}

.clear-color {
  background-color: transparent;
}

.centered {
  display: block; 
  margin: auto;
}

.navbar-button {
  position: relative;
  padding: 9px 10px;
  background-color: transparent;
  background-image: none;
  border: none;
  border-radius: 4px;
}

.navbar-button:focus {
  outline: 0;
}
.navbar-button .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #111;
}
.navbar-button .icon-bar + .icon-bar {
  margin-top: 4px;
}
@media (min-width: 768px) {
  .navbar-button {
    display: none;
  }
}

#menu > li > a {
  text-align: center;
}

#title {
  text-align: center;
}

@media (min-width: 768px) {
  #title {
    text-align: left;
  }
}

#video {
  margin: auto;
  display: block;
  width: 640px;
  height: 360px;
}

@media (min-width: 768px) {
  #video {
    width: 720px;
    height: 480px;
  }
}

/* ---- grid ---- */

.grid {
  background: #111;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 100%;
}

@media (min-width: 768px) {
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .grid-sizer,
  .grid-item {
    width: 33.33%;
  }
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}


/*Carousel*/
.carousel {
  background: #111;
  margin-bottom: 40px;
  width: 100%;
}

.carousel-cell {
  position: relative;
  margin-right: 20px;
  width: 100%;
  overflow: hidden;
  counter-increment: carousel-cell;
}

.carousel-cell .desc-cell {
  visibility: hidden;
  position: absolute;
  width: 100%;
  z-index: 2;
  background: -moz-linear-gradient(top, rgba(128,128,128,0.15) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(128,128,128,0.15) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(128,128,128,0.15) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.carousel-cell:hover .desc-cell {
  visibility: visible;
}

.carousel-cell .desc-cell p {
 margin: 10px;
}

.carousel-cell img {
  overflow: hidden;
  width: 100%;
  height: auto;
  margin: auto;
  object-fit: cover;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell img {
    height: 400px;
  }
}

.carousel-nav .carousel-cell {
  height: 80px;
  width: 100px;
  background: dodgerblue;
}

.carousel-cell .cell-desc {
  visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;

  background: rgba(0, 0, 0, 0.8); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), transparent); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0, 0, 0, 0.8), transparent); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.8), transparent); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0, 0, 0, 0.8), transparent); /* Standard syntax */
}

.carousel-cell .cell-desc p {
  font-size: 25px;
  margin: 10px;
}

.carousel-cell:hover .cell-desc{
  visibility: visible;
}

.carousel-nav .carousel-cell.is-nav-selected {
  background:  rgba(200, 200, 200, 0.5);
  border: 2px solid #AAA;
}

.carousel-nav .carousel-cell img {
  height: 100%;
}

#blogmaker {
  background-color: rgb(200,200,200);
  border-radius: 8px;
  color: black;
}

#blogmaker label {
  margin: 8px;
}

#blogmaker > * {
  margin: 8px;
}

#blog-form > p > textarea, button {
  margin-left: 8px;
  margin-right: 24px;
}

#blog-form > p > button {
  background-color: white;
}

#blog-form > p > textarea {
  min-width: 75%;
  max-width: 95%;
}

#image {
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
}

#image > p {
  margin: 0px;
  padding: 0px;
}

#blog img {
  height: 50vh;
  width: auto;
}

