body {
  background-color: #333;
  color: white;
}

a {
  color: #AAA;
}

.navigation-clean-button {
  background:transparent;
  padding-top:10px;
  padding-bottom:10px;
  color:white;
  border-radius:0;
  box-shadow:none;
  border:none;
  margin-bottom:0;
}

.clear-color {
  background-color: transparent;
}

.centered {
  display: block; 
  margin: auto;
}

.navbar-button {
  position: relative;
  padding: 9px 10px;
  background-color: transparent;
  background-image: none;
  border: none;
  border-radius: 4px;
}

.navbar-button:focus {
  outline: 0;
}
.navbar-button .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #333;
}
.navbar-button .icon-bar + .icon-bar {
  margin-top: 4px;
}
@media (min-width: 768px) {
  .navbar-button {
    display: none;
  }
}

#menu > li > a {
  text-align: center;
}

#title {
  text-align: center;
}

@media (min-width: 768px) {
  #title {
    text-align: left;
  }
}

#video {
  margin: auto;
  display: block;
  width: 640px;
  height: 360px;
}

@media (min-width: 768px) {
  #video {
    width: 720px;
    height: 480px;
  }
}

/* ---- grid ---- */

.grid {
  background: #333;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 100%;
}

@media (min-width: 768px) {
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .grid-sizer,
  .grid-item {
    width: 33.33%;
  }
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}


/*Carousel*/
.carousel {
  background: #333;
  margin-bottom: 40px;
}

.carousel-cell {
  margin-right: 20px;
  overflow: hidden;
  counter-increment: carousel-cell;
}

.carousel-cell img {
  display: block;
  height: 200px;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell img {
    height: 400px;
  }
}

.carousel-nav .carousel-cell {
  height: 80px;
  width: 100px;
  background: dodgerblue;
}

.carousel-nav .carousel-cell:before {
  font-size: 50px;
  line-height: 80px;
}

.carousel-nav .carousel-cell.is-nav-selected {
  background:  rgba(200, 200, 200, 0.5);
  border: 2px solid #AAA;
}

.carousel-nav .carousel-cell img {
  height: 100%;
}


